Repository trimble-oss/devguide, pull requests merged in 2022-10, with the labels that each got.

#163 Grammar and linting fixes
  .github/workflows/azure-static-web-apps-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/spellcheck.yml
  .github/workflows/super-linter.yml
  .vscode/extensions.json
  content/development-practises/code-documentation.md
  content/development-practises/code-review.md
  content/development-practises/unit-testing.md
  content/development-practises/vcs-standards-git.md
  content/development-practises/versioning.md
Labels: 1, documentation

#168 Update whitesource-scan.yml
  .github/workflows/whitesource-scan.yml
Labels: github_actions

#170 Fixes for CODEOWNERS page
  .github/workflows/spellcheck.yml
  README.md
  assets/css/_codefences.scss
  content/code-style/code-style-css.md
  content/innersource/codeowners-configuration.md
  content/innersource/project-documentation.md
  content/innersource/publish-documentation.md
  postcss.config.js
Labels: 1
